<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/faq.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="font-family: 'Times New Roman', Times, serif;">
    <div class="faq-container">
        <h1>Frequently Asked Questions</h1>
        <div class="faq-item">
            <button class="faq-question">What is the return policy?</button>
            <div class="faq-answer">
                <p>Our return policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately, we can’t offer you a refund or exchange.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">How do I track my order?</button>
            <div class="faq-answer">
                <p>You can track your order using the tracking number provided in the confirmation email. Visit our tracking page for more details.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">Can I change my shipping address?</button>
            <div class="faq-answer">
                <p>Yes, you can change your shipping address before your order is shipped. Contact our support team as soon as possible to update your address.</p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">What payment methods do you accept?</button>
            <div class="faq-answer">
                <p>We accept various payment methods including credit cards, debit cards, and PayPal.</p>
            </div>
        </div>
        <br/>
            <form action="" method="POST">
                {{form.csrf_token}}
                {{form.hidden_tag()}}
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Question</label>
                    {{form.query(id="formGroupExampleInput", placeholder="Ask your question here",class="form-control")}}
                    {{form.submit}}
                  </div>
            </form>
    </div>


    

    <script>
        const faqItems = document.querySelectorAll('.faq-question');
        faqItems.forEach(item => {
            item.addEventListener('click', () => {
                const answer = item.nextElementSibling;
                answer.classList.toggle('active');
            });
        });
    </script>
</body>
</html>
