<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Services</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/loans.css')}}">
</head>
<body>

    <div class="navbar">
        <ul>
            <li onclick="showLoans('home')">Crop Loans</li>
            <li onclick="showLoans('machinary')">Machinary Loans</li>
            <!-- <li onclick="showLoans('agriculture')">Agriculture Loans</li>
            <li onclick="showLoans('personal')">Personal Loans</li> -->
        </ul>
    </div>
    <div class="container">
        <div class="loan-container" id="loanContainer">
            <!-- Loan boxes will be dynamically inserted here based on the selected category -->
        </div>
    </div>








    <script src="{{ url_for('static', filename='javascript/loans.js') }}"></script>
</body>
</html>
