body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-container {
    text-align: center;
    width: 100%;
    height: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-image: url(/images/error.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.error-code {
    font-size: 500px;
    font-weight: bold;
    color: #1df16483;
}

p {
    color: #ffffff;
    margin: 20px 0;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #3ac569;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #34b057;
}
