/* Container and Layout */
.container {
    display: flex;
    width: 100%; /* Change fixed width to 100% for responsiveness */
    max-width: 1200px; /* Limit max width */
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between; /* Ensure sidebar and product grid are spaced evenly */
}

.sidebar {
    width: 180px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
}

.product-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Sidebar Styling */
.search-bar {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.filter-options {
    margin-bottom: 20px;
}

.filter-options h4 {
    margin-bottom: 10px;
}

.filter-options label {
    display: block;
    margin-bottom: 10px;
}

/* Product Card Styling */
.product-card {
    width: 500px;
    height: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.product-image {
    width: 100%;
    height: 60%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.product-details h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.product-details p {
    margin-bottom: 10px;
    color: #666;
}

.product-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-actions * {
    margin-right: 15px;
}

.quantity-input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.add-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #218838;
}
.message {
    width: 50vw;
    height: 50vh;
    display: flex;
}